/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{
    font-family: 'Lato', sans-serif;
}

.container{
    width: 70%;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* typo */
h1{
    font-size: 60px;
    margin: 30px 0;
    font-weight: 900;
}

p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin: 20px 0;
}

h2{
    font-size: 45px;
    font-weight: 900;
}

h4{
    font-size: 22px;
    font-weight: 900;
    margin: 10px 0;
}

h5{
    font-size: 15px;
    font-weight: 900;
}

/* text-color */
.text-white{
    color: white;
}

.text-dark{
    color: #23272a;
}

.text-light-blue{
    color: #7289da;
}

/* button */
button{
    border-style: none;
    border-width: 0; 
    border-radius: 50px;
    box-shadow: 2px 3px 8px rgba(35, 39, 42, 0.2);
}

.small-button{
    padding: 10px;
    font-weight: 700;
    font-size: 12px;
}

.big-button{
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 700;
}

button.bg-white{
    background-color: white;
    color: #23272a;
}

button.bg-blue{
    background-color: #23272a;
    color: white;
}

button.light-blue{
    background-color: #7289da;
    color: white;
}

button .icon{
    margin-right: 10px;
}

button.bg-white:hover{
    background-color: rgba(255, 255, 255, 0.9);
}

button.bg-blue:hover{
    background-color: rgba(35, 39, 42, 0.7);
}

button.light-blue:hover{
    background-color: rgba(114, 137, 218, 0.7);
    color: white;
}

/* header */
header{
    /* padding: 10px 0; */
    background-color: #3161e0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.logo, .main-nav, .login{
    float: left;
    height: 70px;
    position: relative;
}

.main-nav{
    width: 70%;
    text-align: center;
}

.logo, .login{
    width: 15%;
}

.main-nav, .main-nav ul, .main-nav li, .main-nav li a{
    display: inline-block;
}

.main-nav li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    vertical-align: middle;
}

.logo img, .login button{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.login button{
    right: 0;
}

.main-nav li a:hover{
    color: rgba(255, 255, 255, 0.5);
}

/* main */
/* hero */
.hero{
    position: relative;
    text-align: center;
}

.hero img{
    object-fit: cover;
    object-position: center;
    height: 100vh;
    width: 100%;
}

.hero .container .centered{
    width: 50%;
}

.hero .buttons button{
    margin: 0 10px;
}



section:not(.hero){
    margin-top: 200px;
}

.col-text, .col-img{
    float: left;
}

.col-text{
    width: 30%;
    padding-top: 30px;
}

.col-img{
    width: 70%;
}

#why .col-img{
    text-align: right;
}

section .row{
    text-align: center;
}

section .row-text{
    position: relative;    
}

section#tec .row:last-child{
    margin: 70px 0 100px;
}

/* footer */
footer{
    background-color: #23272a;
    padding: 50px 0 30px;
}
.footer-bottom{
    border-top: 1px solid #7289da;
    margin-top: 40px;
}

.footer-col-lg, .footer-col-sm{
    float: left;
}

.footer-col-lg{
    width: 35%;
    padding-right: 15%;
}

.select-language{
    margin: 20px 0;
}
.select-language svg,.select-language span{
    vertical-align: middle;
}

.select-language svg{
    width: 20px;
    border-radius: 3px;
}

.select-language span{
    color: white;
    margin-left: 2px;
    font-size: 13px;
}

.icons a{
    color: white;
    font-size: 18px;
}

.icon{
    display: inline-block;
    margin-right: 20px;
}

.footer-col-sm{
    width: 15%;
}

footer h4, h5{
    color: #7289da;
}

footer ul{
    list-style: none;
    font-size: 15px;
}

.footer-col-sm li{
    margin: 10px 0;
}

.footer-col-sm li a{
    color: white;
    text-decoration: none;
}

.footer-col-sm li a:hover{
    text-decoration: underline;
}

.footer-bottom .logo, .footer-bottom .register{
    float: left;
    width: 50%;
    height: 70px;
    position: relative;
}

.footer-bottom .login, .footer-bottom .register button{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.footer-bottom .register button{
    right: 0;
}